.table-container {
  overflow-x: auto;
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 15px;

  .datashow-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;

    .select-btn {
      border: 1px solid $main-color;
      border-radius: 10px;
      padding: 8px;
      margin-left: 5px;
      background-color: #ffff;
    }
  }

  .table-head-wrapper {
    height: 70px;
    margin: 0 3px;

    .table-filter {
      align-self: flex-start;
      height: 30px;
      margin-bottom: 25px;

      .filter-option {
        background-color: #ffff;
        border: 1px solid $main-color;
        padding: 5px;
        border-radius: 5px;
      }

      .helper-block {
        height: 30px;
      }
    }

    .table-header {
      display: flex;
      align-self: flex-end;
      margin-bottom: 20px;
    }
  }

  .table-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    .add-btn {
      background-color: #72ccb4;
      border: 1px solid #72ccb4;
      padding: 5px;
      border-radius: 5px;
      color: #ffff;
      height: 40px;
      font-size: 14px;
      &:hover {
        background-color: #8dd2bd;
      }
    }
  }

  table {
    width: 100%;
    border-spacing: 0;

    th {
      padding: 12px 0;
      font-size: 20px;
      text-align: left;

      &:hover {
        color: $main-color;
      }

      div {
        span {
          margin-left: 3px;
          color: $main-color;
        }
      }

      &:last-child {
        display: none;
      }
    }

    tbody {
      tr:hover {
        background-color: #b4ccc4;
        color: #fafafa;
        font-weight: 600;
        border-radius: 8px;
        background-clip: border-box;
      }
      td {
        padding: 25px 5px;
        font-size: 16px;
      }
    }
  }
}

.table-pagination {
  text-align: center;

  .page-controller {
    margin-top: 10px;

    input {
      border: 1px solid $main-color;
      padding: 5px;
      border-radius: 5px;
      width: 50px;
      text-align: center;
      margin-left: 5px;
    }
  }

  .btn-group {
    margin-top: 10px;

    button {
      margin: 0 5px;
      color: #333333;
      padding: 6px 20px;
      height: 30px;
    }
  }
}
