$main-color: #72ccb4;
$font-color: #444444;
$hover-color: rgba(42, 184, 150, 0.7);
$shadow: 3px 2px 6px 2px rgba(125, 125, 125, 0.15);
$red-color: #ff4949;

@media only screen and (max-width: 576px,) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    width: 540;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    width: 1320px;
    margin: 0 auto;
  }
}

body {
  margin: 0;
  font-family: "Asap", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background-color: $main-color;
  color: #ffffff;
}

footer {
  background-color: $main-color;
  color: #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  text-align: center;

  button {
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
  }

  a {
    color: #ffffff;
  }
}

button {
  border: 1.5px solid #ffffff;
  border-radius: 7px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  height: 17px;
  box-sizing: border-box;

  &:disabled {
    color: #bbbbbb !important;
    cursor: not-allowed;

    &:hover {
      color: #bbbbbb !important;
    }
  }

  &:hover {
    background-color: #fafafa;
    color: $font-color;
    border: 1px solid $main-color;
  }
}

.App {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  margin: 30px auto 60px;

  .title-container {
    display: flex;
    justify-content: center;
    h2 {
      font-size: 28px;
    }
  }

  .searchbar-container {
    margin-bottom: 20px;

    .searchbar {
      display: flex;
      justify-content: center;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 10px 15px;
      box-shadow: $shadow;
      width: 50%;
      margin: 10px auto 30px;
      -webkit-box-shadow: $shadow;
      -moz-box-shadow: $shadow;

      .searchbar-input {
        border: none;
        font-size: 17px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.table-container {
  overflow-x: auto;
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 15px;

  .datashow-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;

    .select-btn {
      border: 1px solid $main-color;
      border-radius: 10px;
      padding: 8px;
      margin-left: 5px;
      background-color: #ffff;
    }
  }

  .table-head-wrapper {
    height: 70px;
    margin: 0 3px;

    .table-filter {
      align-self: flex-start;
      height: 30px;
      margin-bottom: 25px;

      .filter-option {
        background-color: #ffff;
        border: 1px solid $main-color;
        padding: 5px;
        border-radius: 5px;
      }

      .helper-block {
        height: 30px;
      }
    }

    .table-header {
      display: flex;
      align-self: flex-end;
      margin-bottom: 20px;
    }
  }

  .table-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    .add-btn {
      background-color: #72ccb4;
      border: 1px solid #72ccb4;
      padding: 5px;
      border-radius: 5px;
      color: #ffff;
      height: 40px;
      font-size: 14px;
      &:hover {
        background-color: #41a191;
      }
    }
  }

  table {
    width: 100%;
    border-spacing: 0;

    th {
      padding: 12px 0;
      font-size: 20px;
      text-align: left;

      &:hover {
        color: $main-color;
      }

      div {
        span {
          margin-left: 3px;
          color: $main-color;
        }
      }
    }

    tbody {
      tr:hover {
        background-color: $main-color;
        color: #fafafa;
        font-weight: 600;
        border-radius: 8px;
        background-clip: border-box;
      }
      td {
        padding: 25px 5px;
        font-size: 16px;
      }
    }
  }
}

.table-pagination {
  text-align: center;

  .page-controller {
    margin-top: 10px;

    input {
      border: 1px solid $main-color;
      padding: 5px;
      border-radius: 5px;
      width: 50px;
      text-align: center;
      margin-left: 5px;
    }
  }

  .btn-group {
    margin-top: 10px;

    button {
      margin: 0 5px;
      color: #333333;
      padding: 6px 20px;
      height: 30px;
    }
  }
}

.row-btn {
  display: flex;

  button {
    padding: 6px 8px;
  }

  .edit-btn {
    background-color: $main-color;
    margin-right: 3px;
  }

  .delete-btn {
    background-color: $red-color;
    margin-right: 5px;
  }
}

.logo {
  height: 10vh;
  display: flex;
  margin: auto;
}

.react-responsive-modal-modal {
  border-radius: 5px;
  padding: 0 !important;
  min-width: 40%;

  .container-modal {
    height: 100%;
  }

  .modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-weight: 600;
    color: #ffffff;
    height: 42px;

    .close-modal {
      padding: 0;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;

      &:hover {
        background-color: transparent !important;
        border: none !important;
      }
    }
  }

  .delete-modal-title {
    background-color: $red-color;
  }

  .container-modal-title {
    background-color: $main-color;
  }

  .modal-body {
    text-align: center;
    padding: 15px;
    height: 80%;

    .text-wrapper {
      margin-bottom: 20px;
      overflow-wrap: break-word;
      .success-notif {
        width: 28vw;
        p {
          color: $main-color;
        }
      }
    }

    .btn-group {
      display: flex;
      justify-content: space-evenly;
      margin-top: 15px;

      .load {
        width: 20px;
      }

      button {
        width: 200px;
        height: 100%;
      }

      .cancel-delete-btn {
        background-color: $main-color;
      }

      .confirm-delete-btn {
        background-color: $red-color;
      }

      .cancel-edit-btn {
        background-color: transparent;
        color: yellow;

        &:hover {
          text-decoration: underline;
        }
      }

      .confirm-edit-btn {
        background-color: $main-color;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
    }
  }
}

.input-option,
.select-option {
  text-align: left;
  margin: 7px 0;

  label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  input,
  select {
    width: 100%;
    box-sizing: border-box;
    padding: 14px 7px;
    border-radius: 5px;
    border: 1px solid $main-color;
  }
}
